asn1crypto==0.24.0
beautifulsoup4==4.6.0
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
cryptography==2.2.2
idna==2.6
numpy==1.14.3
pandas==0.23.0
pycparser==2.18
pyOpenSSL==18.0.0
PySocks==1.6.8
python-dateutil==2.7.3
pytz==2018.4
requests==2.18.4
selenium==3.11.0
six==1.11.0
urllib3==1.22
